html{
  height: 100%;
  overflow: hidden;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  background: blue;
  overflow: hidden;
}

.backgroundcn{
  position: absolute;
  background: blue;
  
/*
  margin: auto auto auto auto;
*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#underconstructdiv{
  position: fixed;
  padding: 100px;
  width: 100px;
  height: 100px;
  background: blue;
  margin: auto auto auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}