html{
  height: 100%;
  overflow: hidden;
}

body{
  height: 100%;
  width: 100%;
  background: blue;
  overflow: hidden;
}

.backgroundcn{
  position: absolute;
  background: blue;
  
/*
  margin: auto auto auto auto;
*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}