html {
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient(gray,white);
  background-repeat: no-repeat;
  margin: 0;
}
header{
  height: 30px;
  width: 99.9%;
/*  border: 1px solid black;*/
}
nav ul{
  position: absolute;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100;
  /*border: 1px solid black;*/
}
ul li{
  float: left;
  border: 1px solid pink;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {background-color: #111;}

ul li a.active {background-color: #4CAF50;}

div.closed{
  border: 1px solid red;
  position: relative;
  float: left;
  margin: auto auto;
  height: 200vmin;
}
div#open{
  clear: both;
  position: relative;
  float: right;
  border: 1px solid blue;
}
#wrapper{
  position: relative;
  display: flex;
  float: right;
  top: 40px;
  border: 1px solid green;
  height: 100%;
  width: 100%;
}



@media screen and (max-width: 600px){
    ul li, 
    ul.topnav li {float: none;}
  #wrapper{
    
  }
}